body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
main{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}



div{
    display: flex;
    justify-content: center;
}



@media screen and (max-width: 768px) {

    main{
        font-size: 2rem;
        text-align: center;
    }
    form div{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: auto;
    }

    .container input{
        width: 5rem;
        height: 4rem;
        text-align: center;
        font-size: 2rem;
    }

    .container .btn{
        font-size: 3rem;
    }
}